.header {
  /* background-color: #f1f1f1; */
  display: flex;
  justify-content: space-between;
  align-items: center;
}
[class='dark-theme'] .header {
  background-color: #555;
}
[class='light-theme'] .header {
  background-color: #f1f1f1;
}