.title {
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    margin: 0;
    margin-bottom: 20px;
    font-weight: 900;
    font-size: 34px;
}
.text {
    line-height: 1.5;
    font-weight: 300;
    font-size: 1.2em;
}

.btn {
    display: inline-block;
    padding: 8px 16px;
    font-size: 1em;
    cursor: pointer;
    border: none;
    outline: none;
}
.btn.btn-primary {
    background-color: dodgerblue;
    color: white;
}
.btn.btn-primary:hover {
    background-color: hsl(210, 100%, 36%);
}
.btn.btn-secondary {
    background-color: orange;
    color: white;
}
.btn.btn-secondary:hover {
    background-color: hsl(39, 100%, 30%);
}

