.cal-screen {
    font-family: Inter;
    font-size: 48px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    height: 100px;
    width: 100%;
    margin-bottom: 10px;
    border: 1px solid #323232;
    padding: 16px;
    background-color: white;
    border-radius: 10px;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    color: black;
    font-weight: bold;
    box-sizing: border-box;
  }